html,body,div,p {
  margin: 0;
  padding: 0;
  font-family: 'NotoSansZawgyi', serif;
}
@font-face {
  font-family: 'NotoSansZawgyi';
  src: url('/fonts/zawgyi.eot') format('embedded-opentype'),
  url('/fonts/zawgyi.ttf') format('truetype');
   font-weight: normal;
  font-style: normal;
}